.iconParent{
    margin-top: 12.5%;
}

.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    animation-name: spin;
    animation-duration: 850ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}